body {
    margin :0;
    padding: 0;
    border: 2px solid red;
}
.body {
    display: grid;
    grid-template: 54px 35px 900px/auto;
    background:skyblue
}
.header {
    background:  yellow;
}
.headerone{
     background:red;
}
.main {
    display: grid;
    grid-template:200px ;
    border: 4px solid orange;
    width: 100%;
    height: 100%;
}


@media screen and (max-width:600px) {
.main{
     display: flex;
     flex-direction: column;
     align-content: center;
}
}